<ion-view view-title="Event">
  <ion-content>
    <div class="item item-image">
      <img class="cover-image" src="../img/musicmidtown.png" height="50%" width="100%"></img>
    </div>
    <div class="item item-title">
      <h2>Music Midtown</h2>
    </div>
    <div class="item item-details">
      <p1>
        Date: Sept 25, 2017 6-10 PM
        <br> Location: Piedmont Park, Atlanta, GA
      </p1>
    </div>
    <div class="item item-description">
      <p1>
        The greatest artists around the country come together in one single music festival to bring Atlanta the best music.
      </p1>
      <p>
        <a href="#" class="subdued">5 Friends Down</a>
      </p>
    </div>
  </ion-content>
</ion-view>
 