<link rel="stylesheet" type="text/css" href="../css/event.css">
<ion-view view-title="Event">
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="item item-image">
          <img class="cover-image" src="{{event.background}}" height="50%" width="100%"></img>
        </div>
        <div class="item item-title">
          <time datetime="2014-09-20" class="icon" style="display: inline-block; width: 15%; position: relative">
            <!--<em>Saturday</em>-->
            <strong>{{month}}</strong>
            <span>{{day}}</span>
          </time>
          <h2 style="display:inline-block; width: 60%; position: relative; font-size: larger">{{event.title}}</h2>
          <button class="button button-icon button-clear ion-arrow-down-c" style="color: #F7B733; display:inline-block; position: absolute; font-size: 2em">
          </button>
        </div>
        <div class="item item-details">
          <p1>
            Date: {{event.date}}
            <br> Time: 6:00 PM - 10:00 PM
            <br> Location: {{event.location}}
          </p1>
        </div>
        <div class="item item-description">
          <p1 style="white-space: normal">
            {{event.description}}
          </p1>
          <p>
            <a href="#" class="subdued">5 Friends Down</a>
          </p>
        </div>
      </ion-slide>

      <ion-slide>

        <div class="item item-image">
          <img class="cover-image" src="{{event.background}}" height="50%" width="100%"></img>
        </div>
        <div>
          <p style="margin: 5px 5px;padding: 10px; width: 150px; float:left; color: whitesmoke">125 friends down</p>
          <p style="margin: 5px 5px;padding: 10px; width: 100px; float:right; color: whitesmoke">Comments</p>
        </div>
        <div class="img-circular"></div>

        <div class="boxed">
          <p style="font-weight: bold; font-family: 'Verdana'; color: #F7B733 !important">Brighton Gerald</p>
          <p>I'm going to see this in a couple of weeks and I can't wait.</p>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
 