<style>
  ion-header-bar {
    background-color: white !important;
    color: white !important;
  }

  ion-tabs {
    background-color: #F7B733 !important;
  }

  ion-tab {

  }

  .tab-nav {
    background-color: white !important;
  }

  .bar.bar-stable .title {
    /*color: white !important;*/
  }
</style>

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: #F7B733;">
        </button>
        <ion-searchbar></ion-searchbar>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">

        <a data-tap-disabled="false" class=" button button-icon icon positive ion-plus-round" style="color: #F7B733 !important"></a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs>

      <ion-tab title="Events" icon-off="ion-home" icon-on="ion-home" href="#/app/events">
        <ion-nav-view name="tab-events"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Down" icon-off="ion-arrow-down-c" icon-on="ion-arrow-down-c" href="#/app/down">
        <ion-nav-view name="tab-down"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Happening" icon-off="ion-android-contacts" icon-on="ion-android-contacts" href="#/app/happening">
        <ion-nav-view name="tab-happening"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Notifications" icon-off="ion-flash" icon-on="ion-flash" href="#/app/notifications">
        <ion-nav-view name="tab-notifications"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
