/* Empty. Add your own CSS if you like */
.item-description {
    white-space: normal;
}

time.icon
{
    font-size: 0.4em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    padding: 0.01em 0;/*0.4*/
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 1px 0 #fd9f1b;
    font-size: 1.5em;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span
{
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 1.2em;
    color: #2f2f2f;
}

.slide {
    height: 100vh;
}

.boxed {
    /*border: 1px solid green ;*/
    vertical-align: middle;
    display: block;
    margin: auto;
    width: 80%;
    font-family: "Verdana";
    color: whitesmoke;
    font-size: small;
    padding: 30px;
    text-align: center;
    background: #2E4053;
    margin-top: 60px;

    /*background: #F7B733 !important;*/
}

ion-content {
    background-color: #5D6D7E;
}


